{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Top 20 videos by Likes
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-8">
            <embed type="image/svg+xml" src={{bar_graph|safe}} style='max-width:650px'/>
        </div>
        <div class="col-lg-4">

            {% for i in range(0,20) %}
                <ul>
                    <li><a href="{{ urls[i] }}">{{ ids[i] }}</a></li>
                </ul>
            {% endfor %}
        </div>
    </div>
</section>
</div>
{% endblock %}